In [1]:
import pandas as pd

**PreReq Detect Demo**

Here we will show off the basic idea behind the PreReq Detect application and how it would be used by a student at the U of I.
Let us first start with the the basic setup of the app.

**Data Ingestion**

At the current time, we do not have access to the data where these minor and certificate requirements are stored. In the mean time, we will create a sample of how the data may be stored in order to test out our concept

In [2]:
#For now, not listing all elective courses to save space. In future, may instead alter data to instead determine class options based on excluded courses.
#Additionally, some other standard of how these courses are stored will need to change based on manner of different minors and certificates are listed.

requirements = pd.DataFrame({
                             'title' : ['minor_cs'],
                             'required_courses' : [['cs_124', 'cs_128', 'cs_173', 'cs_225']],
                             'elective_courses' : [['cs_307', 'cs_340', 'cs_341', 'cs_357', 'cs_361', 'cs_374', 'cs_407', 'cs_409'],
                                                    ],
                             'elective_num_required' : [2]
})

In [3]:
display(requirements)

,title,required_courses,elective_courses,elective_num_required
0,minor_cs,"[cs_124, cs_128, cs_173, cs_225]","[cs_307, cs_340, cs_341, cs_357, cs_361, cs_37...",2

We now will generate some potential students and see if we can use them to determine if they have any of the requirements needed to qualify at all for the listed minors/certificates.

In [4]:
#Completed required courses
student_1 = ['cs_124', 'cs_128', 'cs_173', 'cs_225']

#Completed enough elective courses
student_2 = ['cs_307', 'cs_340', 'cs_341']

#Completed some required and some elective courses
student_3 = ['cs_124', 'cs_307']

#Completed neither any required or elective courses
student_4 = ['stat_107']

We create this function to be used as a checker for both the required and elective course lists.

In [5]:
def req_finder(requirements, student):
    '''
        Input:
            - requirements: DataFrame, contains each minor/certificate and the associated requirements needed to achieve them.
            - student: List, contains list of all courses completed by a given student
        Output:
            - returns DataFrame containing minors/certificates the student has completed some number of needed courses from.
        Purpose:
            - req_finder returns only the minors/certificates the student has any amount of classes completed for.
    '''
    filtered_requirements = requirements[requirements['required_courses'].apply(lambda x: any(item in student for item in x))]
    filtered_electives = requirements[requirements['elective_courses'].apply(lambda x: any(item in student for item in x))]    
    
    filtered_courses = pd.concat([filtered_requirements, filtered_electives])

    filtered_courses['required_courses'] = filtered_courses['required_courses'].apply(tuple)
    filtered_courses['elective_courses'] = filtered_courses['elective_courses'].apply(tuple)

    qualifying_programs = filtered_courses.drop_duplicates()

    return qualifying_programs

In [6]:
test1 = req_finder(requirements, student_1)
display(test1)

,title,required_courses,elective_courses,elective_num_required
0,minor_cs,"(cs_124, cs_128, cs_173, cs_225)","(cs_307, cs_340, cs_341, cs_357, cs_361, cs_37...",2

In [7]:
test2 = req_finder(requirements, student_2)
display(test2)

,title,required_courses,elective_courses,elective_num_required
0,minor_cs,"(cs_124, cs_128, cs_173, cs_225)","(cs_307, cs_340, cs_341, cs_357, cs_361, cs_37...",2

In [8]:
test3 = req_finder(requirements, student_3)
display(test3)

,title,required_courses,elective_courses,elective_num_required
0,minor_cs,"(cs_124, cs_128, cs_173, cs_225)","(cs_307, cs_340, cs_341, cs_357, cs_361, cs_37...",2

In [9]:
test4 = req_finder(requirements, student_4)
display(test4)

Empty DataFrame
Columns: [title, required_courses, elective_courses, elective_num_required]
Index: []

Using the req_finder, we now can see the minors/certificates relevant to a student's currently completed coursework. We now will try and create separation between the courses they have completed and what remains for required courses and elective courses